@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");
* {
  box-sizing: border-box;
}
body {
  background-color: rgba(1,0,0);
  background-repeat: no-repeat;
  background-size: cover; 
}

/* header{
  background-color: rgba(89, 58, 40);
  text-align: center;
	width: auto;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
} */

.navigation {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
  padding: 30px;
  size: 300px;
  list-style: none;
  gap: 10px 20px;
  margin: 10px;  
}

.navigation li a{
  text-decoration: none;
  font-family: "Poiret One";
  font-size: 100%;
  color: rgb(255, 254, 254);
  padding: 20px;
  float: left;
  width: 20%;
}

.navigation li a:hover{
  background-color: rgb(140, 121, 109);
  padding: 20px;
  float: left;
  width: 90%;
  border-radius: 50%;
}

.logo{
  width: 90px;
  display:block;
  margin:auto;
}
.logo:hover{
  filter: opacity(.5);
}

hr{
  height: 1px;
  background-color: rgb(217, 4, 61);
  border-color:  rgb(217, 4, 61);
}

.portadaF{
  padding: 20px;
  float: left;
  width: 60%;
}
.me{
  padding: 20px;
  float: right;
  width: 20%;
  text-align: center;
  color: rgba(255, 254, 254);
  font-family: "Poiret One";
}